*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    width: 1280px;
    margin: auto;
} */
body{
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.slider{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcb659+2,ffd66f+80,ffd66f+80,3e347a+80,3e347a+81,3e347a+100 */
background: #fcb659; /* Old browsers */
background: -moz-linear-gradient(left,  #fcb659 2%, #ffd66f 80%, #ffd66f 80%, #3e347a 80%, #3e347a 81%, #3e347a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #fcb659 2%,#ffd66f 80%,#ffd66f 80%,#3e347a 80%,#3e347a 81%,#3e347a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #fcb659 2%,#ffd66f 70%,#ffd66f 76%,#3e347a 76%,#3e347a 81%,#3e347a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb659', endColorstr='#3e347a',GradientType=1 ); /* IE6-9 */


}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 42px;
    font-weight: 600;
    color: #1c172e;
    text-decoration: none;
}
.logo a:hover{
    color: #1c172e;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-icon img{
    display: none;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    color: #1c172e;
}
.menu a:hover{
    color: #1c172e;
    border-bottom: 1px solid #1c172e;
}
.header-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right li{
    margin: 10px;
}
.header-right i{
    color: #fff;
    font-size: 20px;
}
.login-sec a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 8px 20px;
}
.login-sec a:hover{
    background: #fff;
    color: #1c172e;
    transition: all 0.5s;
}
.slider-sec{
    padding: 130px 0px 80px;
}
.slider-sec h1{
    font-size: 48px;
    font-weight: 700;
    color: #1c172e;
    width: 10%;
}
.slider-sec p{
    font-size: 18px;
    font-weight: 500;
    color: #1c172e;
    width: 90%;
    padding: 20px 0px 40px;
}
.slider-sec .btn-danger{
    color: #fff;
    background: #f86e28;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 10px;
}
.slider-sec .btn-danger:hover{
    background: #fff;
    color: #f86e28;
    transition: all 0.5s;
}
.slider-img img{
    height: 500px;
    margin-top: 40px;
}
.category h2{
    font-size: 42px;
    font-weight: 500;
    color: #1c172e;
    text-align: right;
    margin-top: 70px;
}
.exmple-sec img{
    width: 100%;
    border-radius: 20px;
}
.exmple-sec p{
    font-size: 24px;
    font-weight: 500;
    color: #3e347a;
    padding: 20px;
}
.colletion h2{
    font-size: 42px;
    font-weight: 500;
    color: #1c172e;
    margin: 70px 0px 40px;
}
.winter-img img{
    margin-bottom: 20px;
}
.formal-img img{
    margin-bottom: 20px;
}
.product-sec h2{
    font-size: 42px;
    font-weight: 500;
    color: #1c172e;
    margin: 70px 0px 40px;
}
.best-product img{
    width: 100%;
    border-radius: 30px;
}
.best-product h4{
    color: #352e63;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 30px 10px;
}
.best-product span{
    font-size: 20px;
    font-weight: 400;
    color: #f86e28;
    padding-left: 30px;
}
.discount-sec{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3e347a+0,3e347a+50,ffd46e+51,ffd46e+100 */
background: #3e347a; /* Old browsers */
background: -moz-linear-gradient(left,  #3e347a 0%, #3e347a 50%, #ffd46e 51%, #ffd46e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #3e347a 0%,#3e347a 50%,#ffd46e 51%,#ffd46e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #3e347a 0%,#3e347a 43%,#ffd46e 42%,#ffd46e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e347a', endColorstr='#ffd46e',GradientType=1 ); /* IE6-9 */

    margin-top: 90px;
}
.purchase-sec{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.purchase-sec img {
    margin-bottom: -60px;
    width: 39%;
}
.purchase-sec h3{
    font-size: 36px;
    font-weight: 500;
    color: #352e63;
}
.purchase-sec span{
    font-size: 36px;
    font-weight: 500;
    color: #f86e28;
}
.purchase-sec p{
    font-size: 16px;
    font-weight: 400;
    color: #352e63;
}
.purchase-sec .input-group{
    width: 50%;
    margin-top: 30px;
}
.news-heading h2{
    margin: 90px 0px 30px;
    font-size: 42px;
    font-weight: 500;
    color: #1c172e; 
}
.news-sec img{
    border-radius: 40px;
    width: 460px;
}
.news-sec h3{
    font-size: 24px;
    font-weight: 500;
    color: #352e63;
    padding: 20px 0px 10px;
}
.news-sec p{
    font-size: 16px;
    font-weight: 400;
    color: #1c172e;
}
.news-sec a{
    font-size: 16px;
    font-weight: 400;
    color: #f86e28;
    text-decoration: none;
}
.fashion-news img{
    border-radius: 20px;
    margin-bottom: 40px;
}
.fashion-news h3{
    font-size: 24px;
    font-weight: 500;
    color: #352e63;
    /* padding: 20px 0px 10px; */
}
.fashion-news p{
    font-size: 16px;
    font-weight: 400;
    color: #1c172e;
}
.fashion-news a{
    font-size: 16px;
    font-weight: 400;
    color: #f86e28;
    text-decoration: none;
}
.footer{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcb559+0,fcb559+17,ffd46e+47,ffd46e+100 */
background: #fcb559; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #fcb559 0%, #fcb559 17%, #ffd46e 47%, #ffd46e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #fcb559 0%,#fcb559 17%,#ffd46e 47%,#ffd46e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #fcb559 0%,#fcb559 17%,#ffd46e 47%,#ffd46e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb559', endColorstr='#ffd46e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 40px 0px;
    margin-top: 90px;
}
.footer-logo a{

    font-size: 42px;
    font-weight: 600;
    color: #1c172e;
    text-decoration: none;
}
.footer-logo a:hover{
color: #1c172e;
}
.footer-logo p{
    font-size: 16px;
    font-weight: 400;
    color: #1c172e;
}
.information{
    margin-left: 60px;
}
.information li{
    padding-bottom: 10px;
}
.information h4{
    font-size: 24px;
    font-weight: 500;
    padding: 0px 0px 20px 30px;
}
.information a{
    text-decoration: none;
    color: #1c172e;
    font-size: 16px;
    font-weight: 400;
}
.information a:hover{
    color: #352e63;
}
.information i{
    font-size: 24px;
}
            /* popup */

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    padding: 30px;
    background: #fff;
    display: none;
    border-radius: 5px;
}
.close {
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 20px;
}
.input input {
    display: inline-block;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid #dbdbdb;
}
.login_form button {
    padding: 10px;
    display: block;
    background: #6153ff;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: none;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.forgot span {
    margin-top: 10px;
    color: #6153FF;
    margin-left: 10px;
    cursor: pointer;
}
.font-font{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}
.font{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}







/* Responsive */
@media screen and (max-width:767px) {
    .container{
        width: 100%;
        padding: 0px 15px;
    }
    .head{
        z-index: 3;
        position: absolute;
        background: #000;
        left: 0;
        top: 70px;
        /* height: calc(100vh - 60px); */
        display: none;
        width: 100%;
    }
    .menu ul{
        display: inline-block;
    }
    .menu a{
        color: #fff;
    }
    .header-right{
        display: none;
    }
    .menu-icon img{
        display: block;
        width: 30px;
        height: 30px;
    }
    .slider{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcb659+0,ffd66f+57,3e347a+57,ffd66f+57,3e347a+57,3e347a+100 */
background: #fcb659; /* Old browsers */
background: -moz-linear-gradient(top,  #fcb659 0%, #ffd66f 57%, #3e347a 57%, #ffd66f 57%, #3e347a 57%, #3e347a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcb659 0%,#ffd66f 57%,#3e347a 57%,#ffd66f 57%,#3e347a 57%,#3e347a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcb659 0%,#ffd66f 57%,#3e347a 57%,#ffd66f 57%,#3e347a 57%,#3e347a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb659', endColorstr='#3e347a',GradientType=0 ); /* IE6-9 */

    }
    .slider-sec {
        padding: 40px 0px 0px;
    }
    .slider-sec h1{
        font-size: 36px;
        width: 100%;
    }
    .slider-sec p{
        width: 100%;
        font-size: 16px;
        padding: 10px 0px 20px;
    }
    .slider-img img{
        width: 100%;
    }
    .category h2{
        margin: 70px 0px 30px;
    }
    .exmple-sec p{
        padding: 20px 0px 0px 20px;
    }
    .colletion h2{
        font-size: 36px;
        margin: 20px 0px 30px;
    }
    .winter-img img{
        width: 100%;
    }
    .row img{
        width: 100%;
    }
    .formal-img img{
        margin-top: 20px;
    }
    .product-sec h2{
        font-size: 36px;
        margin: 70px 0px 20px;
    }
    .best-product li{
        margin-bottom: 20px;
    }
    .best-product img{
        margin-left: -15px;
    }
    .purchase-sec{
        flex-direction: column;
    }
    .purchase-sec img {
        margin-bottom: 30px;
        width: 230px;
    }
    .purchase-sec h3{
        color: #fff;
        font-size: 36px;
    }
    .purchase-sec p{
        color: #fff;
    }
    .purchase-sec .input-group{
        width: 100%;
    }
    .fashion-news img{
        margin: 40px 0px 20px;
    }
    .information{
        margin-left: 0;
    }
    .information h4{
        padding: 20px 0px 20px 30px;
    }
}